body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Start my custom css */
#patient-profile {
    border: #04488B 2px solid;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    height: 120px;
}

#patient-id {
    font-size: 25px;
}

#patient-information {
    font-size: 20px;
}

#checkup-full-detail {
    font-size: 18px;
    border-radius: 10px;
    border: #04488A 1px solid;
    padding: 10px;
}

.one-fifth {
    width: 20%;
    float: left;
    padding-left: 15px;
}

.row.patient-info-title {
    background: #80c3ed;
    padding: 10px 0px 10px 0px;
    margin: -10px -10px -0px -10px;
    font-weight: 700;
    border-radius: 10px;
}

.row.patient-info {
    padding: 20px 0px 10px 0px;
    margin: -10px -10px -0px -10px;
}

.row.questions-title {
    border-top: #80c3ed 1px solid;
    border-top: #80c3ed 1px solid;
    padding: 10px 0px 10px 0px;
    margin: -10px -10px -0px -10px;
    font-weight: 500;
}