
@{
    ViewBag.Title = "Index";
}

<h2></h2>
<br /><br />
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <h5 id="modalDescription" class="modal-body"></h5>
            <h6 id="modalStart" class="modal-body"></h6>
            <h6 id="modalEnd" class="modal-body"></h6>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                minTime: '08:00:00',
                maxTime: '19:00:00',
                slotMinutes: 15,
                events: "caljson",
                eventClick: function (event, jsEvent, view) {
                    console.log(event);
                    $('#modalTitle').html(event.title);
                    $('#modalDescription').html(event.description);
                    $('#modalStart').html(event.start.toString("MM/dd/yyyy hh:mm tt"));
                    $('#modalEnd').html(event.end.toString("MM/dd/yyyy hh:mm tt"));
                    $('#fullCalModal').modal();
                }
            });
        });
    </script>

}